.extra-product {
  width: 100%;
  max-width: none;

  &__title {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  &__price {
    min-width: 220px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }

  &__desc {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px;
  }
}
