.map {
  position: relative; //
  height: 400px; //

  &__contact {
    position: absolute; //
    top: 140px; //
    left: 110px; //
    max-width: 430px; //
    padding: 70px;
  }

  &__contact-text {
    width: 40%; //
    font-size: 20px;
    line-height: 26px;
  }

  &__contact-address {
    width: 40%; //
    text-align: left; //
    font-size: 16px;

    & > span:first-child {
      display: block;
      margin-bottom: 16px;
    }
  }

  &__block {
    height: 100%; //
  }
}
