.banner {
  text-align: center;
  padding: 25px 0 0;

  &__title {
    margin: 0 0 30px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
  }

  &__text {
    margin: 0 0 30px;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__button {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
  }
}
