.banner {
  text-align: center;

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
  }

  &__text {
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__button {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
  }
}
