.main-header {
  position: relative;

  &__background {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0 0 0;
    background-color: #ffffff;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px 10px;
  }

  &__button-open {
    position: relative;
    padding: 0;
    width: 24px;
    height: 18px;
    text-indent: 30px;
    overflow: hidden;
    border: none;
    background-color: inherit;

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 25px;
      height: 25px;
      top: 0;
      left: 0;
      background-image: url("../img/svg/mobile-menu.svg");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  &__nav {
    display: none;
    width: 100%;
    margin: 0;
  }
}
