.main-header {
  position: relative;

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between; //
    box-sizing: border-box; //
    width: 100%;
    padding: 30px 25px 0; //
    background-color: #ffffff;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0; //
  }

  &__button-open {
    display: none;
  }

  &__nav {
    display: flex; //
    align-items: center; //
    justify-content: flex-end; //
  }
}
