.main-menu {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 0 30px 0 0;
    padding: 0;
    border-top: none;

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    font-size: 18px;
    font-weight: 400;

    &--active {
      padding: 0 0 10px 0;
      border-bottom: 2px solid #68b738;
    }
  }
}
