@font-face {
    font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald-Regular.eot'),
         url('../fonts/Oswald-Regular.woff') format('woff'),
         url('../fonts/Oswald-Regular.woff2') format('woff'),
         url('../fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-SemiBold';
    src: url('../fonts/Oswald-SemiBold.eot'),
         url('../fonts/Oswald-SemiBold.woff'),
         url('../fonts/Oswald-SemiBold.woff2'),
         url('../fonts/Oswald-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
