.category {
  width: 470px;

  &__wrap-icon {
    top: 80px;
    left: 50px;
    right: auto;
    width: 100px;
    height: 100px;
  }

  &__icon {

    &--cat-slim::before {
      top: -6px;
      width: 70px;
      height: 97px;
      background-size: contain;
    }

    &--cat-pro::before {
      width: 134px;
      height: 56px;
      background-size: contain;
    }
  }

  &__wrap-content {
    width: 100%;
  }

  &__title {
    margin: 0 0 80px 160px;
  }

  &__text {
    margin: 0 0 40px;
  }
}
